<div class="full-width-header">
    <!-- Toolbar Start -->
    <div class="rs-toolbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="rs-toolbar-left">
                        <div class="welcome-message">
                            <i class="fa fa-bank"></i><span>Welcome to ADUST</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="rs-toolbar-right hidden-sm">
                        <div class="toolbar-share-icon">
                            <ul>
                                <li><a href="#">UMIS</a></li>
                                <li><a href="#">Payment Procedure</a></li>
                                <li><a href="#">Webmail</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">Blogs</a></li>
                            </ul>
                        </div>
                        <a href="#" class="apply-btn">Apply Online!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Header Top Start -->
        <div class="rs-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="logo-area">
                            <a>
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact">
                            <div id="info-details" class="widget-text">
                                <i class="fa fa-envelope-o icon-font"></i>
                                <div class="info-text">
                                    <a href="mailto:admission@adust.edu.bd">
                                        <span>Mail Us</span>
                                        admission@adust.edu.bd
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact pull-right">
                            <div id="phone-details" class="widget-text">
                                <i class="fa fa-volume-control-phone icon-font"></i>
                                <div class="info-text">
                                    <a href="tel:4155551234">
                                        <span>Call Us</span>
                                        +88 01787666575-78
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="main-menu">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div id="logo-sticky" class="text-center">
                                <a href="index.html"><img src="~/images/logo.png" alt="logo"></a>
                            </div> -->
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <li class="active"> <a  [routerLink]="['/department', currentDepartment]">{{currentDepartment}}</a></li>
                                    <li> <a >ABOUT US</a></li>
                                    <li> <a >PEOPLE</a></li>
                                    <li> <a>NEWS &amp; EVENT</a></li>
                                    <li> <a >NOTICE</a></li>
                                    <li> <a >Research</a></li>
                                    <li> <a >ALUMNAS</a></li>
                                    <li> <a >Contact</a></li>
                                    <li> <a class="nav-link" [routerLink]="['/']"><i class="fa fa-paper-plane"></i>ADUST HOME</a></li>
                                </ul>
                            </nav>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->

</div>


