<div class="full-width-header">
    <!-- Toolbar Start -->
    <div class="rs-toolbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="rs-toolbar-left">
                        <div class="welcome-message">
                            <i class="fa fa-bank"></i><span>Welcome to ADUST</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="rs-toolbar-right hidden-sm">
                        <div class="toolbar-share-icon">
                            <ul>
                                <li><a href="#">UMIS</a></li>
                                <li><a href="#">Payment Procedure</a></li>
                                <li><a href="#">Webmail</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">Blogs</a></li>
                            </ul>
                        </div>
                        <a href="#" class="apply-btn">Apply Online!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!--Header Start-->
    <header id="rs-header" class="rs-header">

        <!-- Header Top Start -->
        <div class="rs-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="logo-area">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact">
                            <div id="info-details" class="widget-text">
                                <i class="fa fa-envelope-o icon-font"></i>
                                <div class="info-text">
                                    <a href="mailto:admission@adust.edu.bd">
                                        <span>Mail Us</span>
                                        admission@adust.edu.bd
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="header-contact pull-right">
                            <div id="phone-details" class="widget-text">
                                <i class="fa fa-volume-control-phone icon-font"></i>
                                <div class="info-text">
                                    <a href="tel:4155551234">
                                        <span>Call Us</span>
                                        +88 01787666575-8
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="main-menu">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div id="logo-sticky" class="text-center">
                                    <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                                </div> -->
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <li class="active"> <a asp-action="Index" [routerLink]="['/']">Home</a></li>
                                    <li class="menu-item-has-children">
                                        <a [routerLink]="['/about']">About</a>
                                        <ul class="sub-menu">
                                            <li><a [routerLink]="['/about']">About ADUST</a></li>
                                            <li><a [routerLink]="['/about/members', 'syndicate' ]">Syndicate</a></li>
                                            <li><a [routerLink]="['/about/members', 'academic-council']">Academic Council</a></li>
                                            <li><a [routerLink]="['/about/members','administration']"> Administration</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a [routerLink]="['/authority']">Authority</a>
                                        <ul class="sub-menu">
                                            <li><a [routerLink]="['/authority/members', 'vice-chancellor']">Vice Chancellor</a></li>
                                            <li><a [routerLink]="['/authority/members', 'registrar' ]">Registrar</a></li>
                                            <li><a [routerLink]="['/authority/members', 'controller-of-examinations']">Controller of Examinations</a></li>
                                            <li><a [routerLink]="['/authority/members','treasurer']"> Treasurer</a></li>
                                            <li><a [routerLink]="['/authority/members','board-of-trustees']">Board of Trustees</a></li>
                                        </ul>
                                    </li>


                                    <li> <a>Admission</a>
                                    </li>
                                    <li> <a>Academics</a>
                                    </li>
                                    <li> <a>Research</a></li>
                                    <li> <a>Media</a></li>
                                    <li> <a [routerLink]="['/contact']">Contact us</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>

