<h2 class="uppercase title pb-50 md-pb-30">NOTICE BOARD</h2>
<div class="rs-latest-list">
    <div *ngIf="loadingNotices == 1" class="d-flex justify-content-center pb-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="event-item-new mb-50" *ngFor="let notice of allNotices">
        <div class="event-date">
            <div class="vertical-align">
                <span class="day">{{notice.date.day}}</span>
                <span class="month">{{notice.date.monthShort}}</span>
            </div>
        </div>
        <div class="event-des">
            <h4 class="title">
                <a href="#">{{notice.title}}</a>
            </h4>
            <p>{{notice.description.slice(0,100)}}</p>
        </div>
    </div>
</div>