<app-header></app-header>
<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">ABOUT US</h1>
                    <ul>
                        <li>
                            <a class="active" asp-action="Index" asp-controller="Home">HOME</a>
                        </li>
                        <li>ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- History Start -->
<div class="rs-history sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <a href="#">
                    <img src="assets/images/about/history.png" alt="History Image" />
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>ADUST's History</h2>
                </div>
                <div class="about-desc">
                    <p>
                        Atish Dipankar University of Science & Technology (ADUST), established in 2004 and approved by
                        UGC & Government,
                        is one of the pioneers among the educational institute of Bangladesh,
                        which works as “Centre of Excellence” by ensuring the tertiary level of education at affordable
                        price.
                        In every year, near about 1 million students are approaching towards tertiary level of education
                        after passing the Higher Secondary level of Education.
                        Maximum 5% of them are getting opportunity to be enrolled in public universities.
                        The rest 95% has to struggle for the great dilemma of trading off between education quality and
                        price. According to current scenario,
                        most of the private universities offering quality education are highly expensive. Hence, it
                        seems to a dead-end for the candidates of lower and middle-income groups,
                        who are interested in tertiary level of education.
                        By offering, a huge bunch of versatile courses in all the undergraduate & graduate programs,
                        ADUST aims to cultivate the potentiality, creativity,
                        and independent ambitions of all students and facilitates them to enhance their level of
                        competency professionally and personally.
                        Our permanent campus is conveniently located in the heart of Dhaka metropolitan city with
                        academic and recreational facilities.
                        We enhance the opportunity of the success of our students by affiliating with many national &
                        international corporate bodies,
                        which facilitate our students to get scope for achieving practical experiences and job
                        opportunities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- History End -->
<!-- Mission Start -->
<div class="rs-mission sec-color sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <div class="abt-title">
                    <h2>OUR MISSION</h2>
                </div>
                <div class="about-desc">
                    <p>
                        ADUST was established in 2004 with the sole aim of spreading and disseminating higher education
                        in Bangladesh.
                        To achieve this end, ADUST aspires to be one of the top-ranking universities amongst other
                        higher educational institutions.
                        It has been equipped with modern educational gadgets to facilitate imparting of education to the
                        learners.
                        A galaxy of qualified teachers embellish each and every department of ADUST.
                        It is Committed to spreading marketable education on commerce. Science and Arts disciplines.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-6 mobile-mb-30">
                        <a href="#">
                            <img src="assets/images/about/mission1.png" alt="Mission Image" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="assets/images/about/mission2.png" alt="Mission Image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mission End -->
<!-- Vision Start -->
<div class="rs-vision sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <div class="vision-img rs-animation-hover">
                    <img src="assets/images/about/history.png" alt="img02" />
                    <a class="popup-youtube rs-animation-fade" href="https://www.youtube.com/watch?v=BlxhhYOrWfw"
                        title="Video Icon">
                    </a>
                    <div class="overly-border"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>OUR VISION</h2>
                </div>
                <div class="vision-desc">
                    <p>
                        The vision of ADUST is multi-faceted and multifarious. ADUST looks beyond stereotypical
                        periphery.
                        It seeks to keep pace with the fleeting time and technological advancement. Creation of new jobs
                        and invention of new methods of learning are its principal dream.
                        It strives to impart future-proof education to its pupils. ADUST believes that without sound
                        knowledge in any discipline, all-out progress will not be achievable.
                        It wishes to employ its total means and energy to root out the curse of unemployment and prevent
                        social regression. ADUST visualizes attaining of social and economic emancipation,
                        removing gender disparity and producing befitting employments for its students. ADUST dreams of
                        better and sustainable future for the whole nation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vision End -->
<!-- Calltoaction Start -->
<div id="rs-calltoaction" class="rs-calltoaction sec-spacer bg4">
    <div class="container">
        <div class="rs-cta-inner text-center">
            <div class="sec-title mb-50 text-center">
                <h2 class="white-color">GET ADMISSION</h2>
                <p class="white-color">ADUST was established in 2004 with the sole aim of spreading and disseminating
                    higher education in Bangladesh.</p>
            </div>
            <a class="cta-button" href="#">Apply Now</a>
        </div>
    </div>
</div>
<app-footer></app-footer>