<app-header></app-header>
<div class="rs-breadcrumbs syndicate breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">SYNDICATE</h1>
                    <ul>
                        <li>
                            <a class="active" asp-action="Index" asp-controller="Home">HOME</a>
                        </li>
                        <li>SYNDICATE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Team Start -->
<div id="rs-team-2" class="rs-team-2 team-page sec-spacer">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter1 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/Sekul-Islam.jpg"
                                alt="Professor Dr. Md. Sekul Islam" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Professor Dr. Md. Sekul Islam</h3>
                        </a>
                        <span class="designation">Chairman</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter2 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/Rafique-Treasurer.jpg"
                                alt="Dr. Rafique Uddin Ahmed" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Dr. Rafique Uddin Ahmed</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter3 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/Liakat.jpg" alt="Mr. Md. Liakat Ali Sikdar" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. Md. Liakat Ali Sikdar</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter4 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/Ashraf-BBA.jpg"
                                alt="Professor Dr. Md. Ashraf Ali Khan" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Professor Dr. Md. Ashraf Ali Khan</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter1 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/zakir.png"
                                alt="Mr. A.K.M Jakir Hossain Bhuiyan" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. A.K.M Jakir Hossain Bhuiyan</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter2 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/sayed.png"
                                alt="Mr. Sayed Mohammad Hemayet Hossain" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. Sayed Mohammad Hemayet Hossain</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter3 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/golam.png" alt="Mr. Golam Sarwar Kabir" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. Golam Sarwar Kabir</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter4 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/ariful.png" alt="Mr. Ariful Bari Mojumder" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. Ariful Bari Mojumder</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter4 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/zenat.jpg" alt="Professor Dr. Zeenat Huda" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Professor Dr. Zeenat Huda</h3>
                        </a>
                        <span class="designation">Member</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6 grid-item filter4 team-margin">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/syndicate/Kayum.jpg" alt="Mr. Md. Abdul Kayum Sarder" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Mr. Md. Abdul Kayum Sarder</h3>
                        </a>
                        <span class="designation">Member Secretary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>