<app-department-header [currentDepartment]="department"></app-department-header>
<div id="rs-slider" class="slider-overlay-2">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleFade" data-slide-to="1"></li>
            <li data-target="#carouselExampleFade" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="assets/images/slider/home4/slide1.jpg" alt="Slide1" />
                <div class="slide-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <h1 class="slider-title" data-animation-in="fadeInLeft" data-animation-out="animate-out">WELCOME<br>TO OUR UNIVERSITY</h1>
                                <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie justo.<br> Nunc quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.</p>
                                <a href="#" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out">READ MORE</a>
                                <a href="#" class="sl-get-started-btn" data-animation-in="lightSpeedIn" data-animation-out="animate-out">GET STARTED NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Item 2 -->
            <div class="carousel-item">
                <img src="assets/images/slider/home4/slide2.jpg" alt="Slide2" />
                <div class="slide-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">ARE YOU READY TO APPLY?</h1>
                                <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie justo.<br> Nunc quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.</p>
                                <a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
                                <a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Item 3 -->
            <div class="carousel-item">
                <img src="assets/images/slider/home4/slide3.jpg" alt="Slide3" />
                <div class="slide-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <h1 class="slider-title" data-animation-in="fadeInUp" data-animation-out="animate-out">ARE YOU READY TO APPLY?</h1>
                                <p data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie justo.<br> Nunc quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.</p>
                                <a href="#" class="sl-readmore-btn mr-30" data-animation-in="fadeInUp" data-animation-out="animate-out">READ MORE</a>
                                <a href="#" class="sl-get-started-btn" data-animation-in="fadeInUp" data-animation-out="animate-out">GET STARTED NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="rs-services rs-services-style1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-american-sign-language-interpreting rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4 class="services-title">Program Objective</h4>
                        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-book rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4 class="services-title">Program Outcomes</h4>
                        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-user rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4 class="services-title">Curriculum Structue</h4>
                        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-item rs-animation-hover">
                    <div class="services-icon">
                        <i class="fa fa-graduation-cap rs-animation-scale-up"></i>
                    </div>
                    <div class="services-desc">
                        <h4 class="services-title">ClUB</h4>
                        <p>Lorem ipsum dolor sit amet Sed nec molestie justo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rs-about-2" class="rs-about-2 sec-spacer">
    <div class="container">
        <div class="row rs-vertical-bottom">
            <div class="col-lg-7 col-md-12">
                <div class="sec-title mb-30">
                    <h2>ABOUT US</h2>
                    <p>Fusce sem dolor, interdum in efficitur at, faucibus.</p>
                </div>
                <p class="mobile-mb-50">
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.can I get some?There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected yours humour, or randomised words which don't look even slightly believable.
                </p>
                <div class="row about-signature">
                    <div class="col-md-6">
                        <h4>Rashid Mahabub Shojib</h4>
                        <span>Vice Chancellor (vc)</span>
                    </div>
                    <div class="col-md-6 text-right">
                        <img src="assets/images/about/signature.png" alt="signature">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-img rs-image-effect-shine">
                    <img src="images/about/about2.jpg" alt="img02">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rs-latest-news-style7" class="rs-latest-news-style7 sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-pb-50">
                <app-events></app-events>
            </div>
            <div class="col-lg-6">
                <app-notices></app-notices>
            </div>
        </div>
    </div>
</div>

<div class="rs-events-2 sec-spacer sec-color">
    <div class="container">
        <div class="sec-title text-center mb-50">
            <h2>Messages From Department of </h2>
            <p>I must explain to you how all this mistaken idea of denouncing pleasure.</p>
        </div>
        <div class="row space-bt30">
            <div class="col-lg-6 col-md-12">
                <div class="event-item">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-6">
                            <div class="event-img">
                                <img src="assets/images/events/4.jpg" alt="events Images" />
                                <a class="image-link" href="events-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="event-content">
                                <h3 class="event-title"><a href="events-details.html">Dr. Md. Abdullah Al Mamun</a></h3>
                                <div class="event-desc">
                                    <p>
                                        Welcome to the Department of Computer Science and Engineering (CSE) of Atish Dipankar University of Science and Technology (ADUST).
                                        It is my pleasure to serve as the Advisor with a team of academic and supporting staffs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="event-item">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-6">
                            <div class="event-img">
                                <img src="assets/images/events/4.jpg" alt="events Images" />
                                <a class="image-link" href="images/events/kids1.jpg" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="event-content">
                                <h3 class="event-title"><a href="events-details.html">Dr. Md. Abdullah Al Mamun</a></h3>
                                <div class="event-desc">
                                    <p>
                                        Welcome to the Department of Computer Science and Engineering (CSE) of Atish Dipankar University of Science and Technology (ADUST).
                                        It is my pleasure to serve as the Advisor with a team of academic and supporting staffs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->
<!-- Courses Categories Start -->
<div id="rs-learning-objectives" class="rs-learning-objectives pt-100 pb-70">
    <div class="container">
        <div class="sec-title mb-50">
            <h2>LEARNING OBJECTIVES</h2>
            <p>I must explain to you how all this mistaken idea of denouncing pleasure.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="glyph-icon flaticon-tool"></i>
                    <h4 class="courses-title"><a href="#">Online Course Facilities</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="glyph-icon flaticon-book"></i>
                    <h4 class="courses-title"><a href="#">Modern Book Library</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="glyph-icon flaticon-people"></i>
                    <h4 class="courses-title"><a href="#">Be Industrial Leader</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="glyph-icon flaticon-diploma"></i>
                    <h4 class="courses-title"><a href="#">Programming Courses</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="glyph-icon flaticon-tool-1"></i>
                    <h4 class="courses-title"><a href="#">Foreign Languages</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <i class="flaticon-book-1"></i>
                    <h4 class="courses-title"><a href="#">Alumni Directory</a></h4>
                    <p>At vero eos et accusamus et iusto odiodignissimos laborumducimus qui blanditiis voluptatum dolor sit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rs-testimonial bg5 sec-spacer">
    <div class="container">
        <div class="row rs-vertical-middle">
            <div class="col-lg-4 col-md-12">
                <div class="sec-title mb-30">
                    <h2 class="white-color">WHAT PEOPLE SAYS</h2>
                    <p class="white-color">Fusce sem dolor inter in efficitur faucibus.</p>
                </div>
                <p class="white-color mobile-mb-50">
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                </p>
            </div>
            <div class="col-lg-8  col-md-12">
                <owl-carousel-o class="rs-carousel" [options]="customOptionsStudents" #owlCar>
                    <ng-template carouselSlide [width]="350" >
                        <div class="testimonial-item">
                            <div class="testi-img">
                                <img src="assets/images/testimonial/1.jpg" alt="Jhon Smith">
                            </div>
                            <div class="testi-desc">
                                <h4 class="testi-name">Luise Henrikes</h4>
                                <p>
                                    Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide [width]="350" >
                        <div class="testimonial-item">
                            <div class="testi-img">
                                <img src="assets/images/testimonial/1.jpg" alt="Jhon Smith">
                            </div>
                            <div class="testi-desc">
                                <h4 class="testi-name">Aliana D’suza</h4>
                                <p>
                                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                </p>
                            </div>
                        </div>
                        
                    </ng-template>

                    <ng-template carouselSlide [width]="350" >
                        <div class="testimonial-item">
                            <div class="testi-img">
                                <img src="assets/images/testimonial/1.jpg" alt="Jhon Smith">
                            </div>
                            <div class="testi-desc">
                                <h4 class="testi-name">Aliana D’suza</h4>
                                <p>
                                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                </p>
                            </div>
                        </div>
                        
                    </ng-template>

                    <ng-template carouselSlide [width]="350" >
                        <div class="testimonial-item">
                            <div class="testi-img">
                                <img src="assets/images/testimonial/1.jpg" alt="Jhon Smith">
                            </div>
                            <div class="testi-desc">
                                <h4 class="testi-name">Aliana D’suza</h4>
                                <p>
                                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                </p>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide [width]="350" >
                        <div class="testimonial-item">
                            <div class="testi-img">
                                <img src="assets/images/testimonial/1.jpg" alt="Jhon Smith">
                            </div>
                            <div class="testi-desc">
                                <h4 class="testi-name">Aliana D’suza</h4>
                                <p>
                                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    

                </owl-carousel-o>


               
            </div>
        </div>
    </div>
</div>

<div class="rs-gallery-4 rs-gallery sec-spacer">
    <div class="container">
        <div class="sec-title-2 mb-50 text-center">
            <h2>GALLERY (4 COLUMNS)</h2>
            <p>Considering primary motivation for the generation of narratives is a useful concept</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="gallery-item">
                    <img src="assets/images/gallery/1.jpg" alt="Gallery Image" />
                    <div class="gallery-desc">
                        <h3><a href="#">Photo Title Here</a></h3>
                        <p>There are many variations of Lorem Ipsum available</p>
                        <a class="image-popup" href="assets/images/gallery/1.jpg" title="Photo Title Here">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link fa fa-angle-left" href="#" tabindex="-1"></a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link dotted" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link fa fa-angle-right" href="#"></a></li>
            </ul>
        </nav>
    </div>
</div>

