<app-header></app-header>
<div class="rs-breadcrumbs administration breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">ADMINISTRATION</h1>
                    <ul>
                        <li>
                            <a class="active" asp-action="Index" asp-controller="Home">HOME</a>
                        </li>
                        <li>ADMINISTRATION</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Team Start -->
<div id="rs-team-2" class="rs-team-2 team-page sec-spacer">
    <div class="container">
        <div class="row grid">
            <div class="col-lg-3 col-md-6 team-margin col-xs-6 grid-item filter1">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/administration/VC-Adust-300x300.jpg"
                                alt="Professor Dr. Md. Sekul Islam" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">Professor Dr. Md. Sekul Islam</h3>
                        </a>
                        <span class="designation">Vice Chancellor</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-margin col-xs-6 grid-item filter2">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/administration/AKM_DELWER-10-300x300.jpg"
                                alt="A. K. M. DELWER HUSSAIN" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">A. K. M. DELWER HUSSAIN</h3>
                        </a>
                        <span class="designation">Treasurer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-margin col-xs-6 grid-item filter3">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/administration/kayum.jpg"
                                alt="MR. MD. ABDUL KAYUM SARDER" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">MR. MD. ABDUL KAYUM SARDER</h3>
                        </a>
                        <span class="designation">Registrar</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-margin col-xs-6 grid-item filter4">
                <div class="team-item">
                    <div class="team-img">
                        <a href="#"><img src="assets/images/administration/Kamran-Exam-Controller-300x300.jpg"
                                alt="MR. MD. KAMRAN CHOWDHURY" /></a>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team-body">
                        <a href="teachers-single.html">
                            <h3 class="name">MR. MD. KAMRAN CHOWDHURY</h3>
                        </a>
                        <span class="designation">Controller of Examinations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>