<footer id="rs-footer" class="bg3 rs-footer pt-50">
    <div class="container">
        <!-- Footer Address -->
        <div>
            <div class="row footer-contact-desc acheivements">
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact-title">Address</h4>
                        <p class="contact-desc">
                            Plot# 209, Sector# 15 (Khantek), <br />
                            Uttara, Dhaka-1230
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-phone"></i>
                        <h4 class="contact-title">Phone Number</h4>
                        <p class="contact-desc">
                            +88 01787666575, +88 01787666576,<br>
                            +88 01787666577, +88 01787666578
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-inner">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact-title">Email Address</h4>
                        <p class="contact-desc">
                            admission@adust.edu.bd<br>
                            info@adust.edu.bd
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="about-widget">
                        <img src="assets/images/logo-footer.png" alt="Footer Logo">
                        <p>
                            ADUST established in 2004 and approved by
                            UGC & Government, is one of the pioneers
                            among the educational institute of
                            Bangladesh, which works as “Centre of
                            Excellence” by ensuring the tertiary level of
                            education at affordable price. In every year,
                            near about 1 million students are
                            approaching towards tertiary level of
                            education after passing the Higher
                            Secondary level of Education
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <h5 class="footer-title">BECOME ADUSTian</h5>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="index.html"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Future Students</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right" aria-hidden="true"></i>On
                                Campus</a></li>
                        <li><a href="courses.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Admission</a>
                        </li>
                        <li><a href="courses-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tuition
                                Fees</a></li>
                        <li><a href="events.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Scholarships</a>
                        </li>
                        <li><a href="events-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Apply
                                Now</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">
                    <h5 class="footer-title">ACADEMICS</h5>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="index.html"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i>Academic Calendar</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Academic
                                Regulations</a></li>
                        <li><a href="courses.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Faculty of
                                Engineering</a></li>
                        <li><a href="courses-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Faculty
                                of Business Administration</a></li>
                        <li><a href="events.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Faculty
                                of Arts & Social Sciences</a></li>
                        <li><a href="events-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Faculty of
                                Health Sciences</a></li>
                        <li><a href="events-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Faculty of
                                Law</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">
                    <h5 class="footer-title">NEWSLETTER</h5>
                    <p>Sign Up to Our Newsletter to Get Latest Updates &amp; Services</p>
                    <form class="news-form">
                        <input type="text" class="form-input" placeholder="Enter Your Email">
                        <button type="submit" class="form-button"><i class="fa fa-arrow-right"
                                aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div class="footer-share">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <p>© 2021 <a asp-action="Index" asp-controller="Home"><b>ADUST</b></a>. All Rights Reserved.
                </p>
                <p>Powered by : <a href="https://hashtaggerbd.com/" target="_blank">Hashtagger BD</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
<!-- start scrollUp  -->
<div id="scrollUp" (click)="GoToTop()" *ngIf="!hide">
    <i class="fa fa-angle-up"></i>
</div>

<!-- Search Modal Start -->
<div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="fa fa-close"></span>
    </button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="search-block clearfix">
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="eg: Computer Technology" type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
